@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-primaria: #000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
  --cor-hover: #272727;

  --fonte-principal: "krona one", sans-serif;
  --fonte-secundaria: "montserrat" sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho {
  padding: 2% 0 0 15%;
}
.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__links {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none;
}

body {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  /* height: 100vh; */
  box-sizing: border-box;
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6% 16%;
  gap: 82px;
  

}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}

h1 {
  font-size: 2.25rem;
  font-family: var(--fonte-principal);

}

.p {
  font-size: 1.38rem;
  font-family: var(--fonte-secundaria);
}

.strong {
  color: var(--cor-terciaria);
}

.formacao {
  color: var(--cor-terciaria);
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.subtitulo links {
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-size: 1.5rem;
}

.botao {
  /* background-color: #22d4fd; */
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 21.5px, 0;
  text-decoration: none;
  height: 50px;
  color: var(--cor-secundaria);
  border: 2px, solid, var(--cor-terciaria);
  display: flex;
  justify-content: center;
  gap: 16px;
}
.botao:hover {
  background-color: #272727;
  padding: 2%;
}

a {
  text-align: center;
  padding-top: 5px;
}

.imagem {
  width: 40%;
  border-radius: 20px;
  
}

.rodape {
  color: black;
  background-color: #22d4fd;
  padding: 18px;
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 1.12rem;
  font-weight: 400;
  position: relative;
  top: 40px;
}

@media (max-width: 1200px){
 .cabecalho{
  padding: 10%;

 }
 .cabecalho__menu{
  justify-content: center;
 }
  .apresentacao{
    flex-direction: column-reverse;
    padding: 5%;
  }
  .apresentacao__conteudo{
    width: auto;
  }


}